<!DOCTYPE html>
<html>
<head>
  <title>Carshop</title>
  <meta charset="utf-8">
</head>
<body>
  <h1>Hello there!</h1>
  <form>
    <button formaction="/employees" type="submit" formmethod="get">
    Get Employees</button>
  </form>
</body>
</html>
